
<div class=" bg-info">
	
	<footer class="text-center text-lg-start text-white">
	  	<div class="container p-4">
			<section class="">
				<div class="row">
					<div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">
							Plumbing Parts
						</h6>
						<p>
							Your trusted destination for high-quality plumbing supplies. Discover a wide range of reliable products for all your plumbing needs.
						</p>
					</div>
					<hr class="w-100 clearfix d-md-none" />
					<div class="col-md-4 col-lg-4 col-xl-2 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold"> Useful links </h6>
						<p>
							<a class="text-white">Your Account</a>
						</p>
						<p>
							<a class="text-white">Become an Affiliate</a>
						</p>
						<p>
							<a class="text-white">Shipping Rates</a>
						</p>
						<p>
							<a class="text-white">About Us</a>
						</p>
					</div>
					<hr class="w-100 clearfix d-md-none" />
					<div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
						<h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
						<p><i class="fas fa-home mr-3"></i> Manikganj-1821, Bangladesh</p>
						<p><i class="fas fa-envelope mr-3"></i> dearmahmud.bd@gmail.com</p>
						<p><i class="fas fa-phone mr-3"></i> +880 1715 567 401</p>
					</div>
		  		</div>
			</section>
			<img class="w-100 rounded mt-2" src="https://securepay.sslcommerz.com/public/image/SSLCommerz-Pay-With-logo-All-Size-03.png" />
			<hr class="my-2">
			<section class="p-1 pt-0">
				<div class="row d-flex align-items-center">
					<div class="col-md-7 col-lg-8 text-center text-md-start">
						<div class="p-3">
							© {% now "Y" %} Copyright:
							<a class="text-white underline" target="_blank" href="https://www.linkedin.com/in/md-mahmudul-hasan-bd/">
								<u>Mahmud</u>
							</a>
							All rights reserved.
						</div>
					</div>
					<div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
						<a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
							<i class="fab fa-linkedin"></i>
						</a>
						<a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
							<i class="fab fa-github"></i>
						</a>
						<a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
								<path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
							</svg>
						</a>
					</div>
				</div>
			</section>
		</div>
	</footer>
</div>
